html {
  font-family: Arima Madurai, Calibri, Trebuchet, sans-serif;
}
#logo{
  width:2em;
  height:2em;
}

.fit-text{
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.sectionheader{
  margin-left:5%;
}

.crop {
  height: 25em;
  /*width: 400px;*/
  overflow: hidden;
}
.crop img {
  height: auto;
  width: 100%;
}
/*------------------*/
nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}